<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sertifikasi</title>

    <link href="~/Content/Images/Logo_ASTRAtech.png" rel="icon">
    <link href="~/Content/Plugins/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Style.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="~/Content/Scripts/tether/tether.min.js"></script>
    <script src="~/Content/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Content/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/Plugins/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Content/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/Content/Scripts/bootstrap-select.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        .mce-branding-powered-by {
            display: none;
        }

        table {
            border-top: none;
            border-bottom: none;
            background-color: #FFF;
            white-space: nowrap;
        }

        .table-striped tbody tr:nth-of-type(2n+1) {
            background-color: #FFF;
        }

        .table-striped tbody tr:nth-of-type(2n), thead {
            background-color: #ECECEC;
        }

        .table-striped tbody tr.pagination-ys {
            background-color: #FFF;
        }
    </style>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
@*
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.4/css/buttons.dataTables.min.css">

    <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>*@
</head>
<body>
    <header>
        <div class="polman-nav-static-top">
            <div class="float-left">
                <a>
                    <img src="~/Content/Images/IMG_1687.png" style="height: 50px;" />
                </a>
            </div>
            <div class="polman-menu">
                <div style="padding-top: 15px; margin-right: -30px;">
@*                    Hai,<span id="usernamePlaceholder" style="font-size: 20px; font-weight: bold;"> @Context.Session.GetString("nama") (@Context.Session.GetString("Role"))</span>
*@                </div>
            </div>

            <div class="polman-menu-bar">
                <div class="float-right">
                    <div class="fa fa-bars fa-2x" style="margin-top: 9px; cursor: pointer;" aria-hidden="true" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="menu"></div>
                </div>
            </div>

        </div>
    </header>


    <div class="polman-nav-static-right collapse scrollstyle" id="menu">
        <div id="accordions" role="tablist" aria-multiselectable="true">
            <div class="list-group">

                <a asp-controller="Dashboard" asp-action="Index" class='list-group-item list-group-item-action <%: Page.Title == "Dashboard Admin" ? "polman-menu-active" : "" %>' style='border-radius: 0px; border: none; padding-left: 22px; display: inherit;'>
                    <i class='fa fa-home fa-lg fa-pull-left'></i>Dashboard
                </a>

                <a asp-controller="Prodi" asp-action="Index" class='list-group-item list-group-item-action <%: Page.Title == "Laporan Kuesioner Excel" ? "polman-menu-active" : "" %>' style='border-radius: 0px; border: none; padding-left: 22px; display: inherit;'>
                    <i class='fa fa-university fa-lg fa-pull-left' style="margin-top: 2px;"></i>Program Studi
                </a>

                <a asp-controller="Sertifikasi" asp-action="Index" class='list-group-item list-group-item-action <%: Page.Title == "Laporan Kuesioner Excel" ? "polman-menu-active" : "" %>' style='border-radius: 0px; border: none; padding-left: 22px; display: inherit;'>
                    <i class='fa fa-check-circle fa-lg fa-pull-left' style="margin-top: 2px;"></i>Sertifikasi
                </a>

                @{
                    var httpContext = ViewContext.HttpContext;
                }

                @if (httpContext.Session.GetString("Role") == "Super Admin")
                {
                <a asp-controller="Pengguna" asp-action="Index" class='list-group-item list-group-item-action <%: Page.Title == "Laporan Kuesioner Excel" ? "polman-menu-active" : "" %>' style='border-radius: 0px; border: none; padding-left: 22px; display: inherit;'>
                        <i class='fa fa-user fa-lg fa-pull-left' style="margin-top: 2px;"></i>Pengguna
                </a>
                }

@*                <a asp-controller="DetailSertifikasi" asp-action="Index" class='list-group-item list-group-item-action <%: Page.Title == "Laporan Kuesioner Excel" ? "polman-menu-active" : "" %>' style='border-radius: 0px; border: none; padding-left: 22px; display: inherit;'>
                    <i class='fa fa-check-circle fa-lg fa-pull-left' style="margin-top: 2px;"></i>Detail Sertifikasi
                </a>*@
            </div>

            <div class="polman-adjust5" style="display: flex; flex-direction: column; height: 100%;">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>

                <div style="flex-grow: 1;"></div> <!-- Penambahan elemen dummy untuk mengisi ruang sisa -->

                <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action" style="border-radius: 0px; border: none; padding-left: 23px;">
                    <i class="fa fa-sign-out fa-lg fa-pull-left"></i>Logout
                </a>
            </div>

        </div>
    </div>

    <div class="polman-adjust5">
        <ol class="breadcrumb polman-breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="DashboardAdmin" asp-action="Index" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Menuju Halaman Dashboard">Sertifikasi</a></li>
            <li class="breadcrumb-item">@ViewData["Title"]</li>
        </ol>

        <hr />

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>

    @RenderBody()

    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
    </asp:ContentPlaceHolder>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
</body>
</html>
